/_build
/cover
/deps
erl_crash.dump
*.ez
priv/data/mnesia
/s3/data/*
!/s3/data/.gitkeep
/s3/config/*
!/s3/config/.gitkeep
node_modules
/apps/photo_management_api_web/priv/static/
/apps/photo_management_api_web/priv/static/.gitkeep
/*.log
.envrc
kubernetes/secrets.yml
