.gallery {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-flow: row dense;
}

.galleryHeader {
  margin: 1rem 0;
  font-size: 2em;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    transform: scale(1.05);

    &:after {
      opacity: 0;
    }
  }

  &--medium {
    grid-row-end: span 2;
  }

  &--large {
    grid-row-end: span 3;
  }

  &--full {
    grid-column-end: auto;

    @media screen and (min-width: 768px) {
      grid-column: 1/-1;
      grid-row-end: span 2;
    }
  }

  &__details {
    position: relative;
    z-index: 1;
    padding: 15px;
    color: #444;
    background: #fff;
    text-transform: lowercase;
    letter-spacing: 1px;
    color: #828282;

    &:before {
      content: counter(item-counter);
      font-weight: bold;
      font-size: 1.1rem;
      padding-right: 0.5em;
      color: #444;
    }
  }
}

.thumbnail {
  object-fit: cover;
  display: block;
}

.popup_image {
  display: block;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  margin: 0 auto;
}

.icon {
  margin: 0 auto;
  padding: 8px;
}

.blur {
  filter: blur(30px);
}

.pagination {
  grid-column-start: 1;
  grid-column-end: 6;
  text-align: center;
  margin: 0;
  padding: 0;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  font-size: 1.2em;

  a {
    text-decoration: none;
  }

  li {
    cursor: pointer;
    display: inline-block;
    margin: 0 8px;
  }

  .break a {
    cursor: default;
  }
}
