kind: Deployment
apiVersion: apps/v1beta1
metadata:
  name: photo-manager
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: photo-manager
        postgres-postgresql-client: "true"
    spec:
      containers:
        - name: photo-manager
          image: jeffutter/photo-manager@sha256:7327b44c69249843fea87a4e93f99de2cdd51d9a7290ed3025ce080d81ac2bad
          args: ["foreground"]
          ports:
            - name: http
              containerPort: 4000
          livenessProbe:
            httpGet:
              path: /
              port: 4000
            initialDelaySeconds: 3
            periodSeconds: 3
          readinessProbe:
            httpGet:
              path: /
              port: 4000
            initialDelaySeconds: 3
            periodSeconds: 3
          env:
            - name: PORT
              value: "4000"
            - name: SOURCE_BUCKET
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: source_bucket
            - name: AWS_S3_BUCKET
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: aws_s3_bucket
            - name: ASSET_HOST
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: asset_host
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: aws_access_key_id
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: aws_secret_access_key
            - name: AWS_DEFAULT_REGION
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: aws_default_region
            - name: AWS_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: aws_endpoint
            - name: SECRET_KEY_BASE
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: secret_key_base
            - name: GUARDIAN_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: guardian_secret_key
            - name: GCP_CREDENTIALS
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: gcp_credentials
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: database_url
            - name: FACEBOOK_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: facebook_client_id
            - name: FACEBOOK_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: facebook_client_secret
            - name: SENTRY_DSN
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: sentry_dsn
            - name: SENTRY_PUBLIC_DSN
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: sentry_public_dsn
