kind: Deployment
apiVersion: apps/v1beta1
metadata:
  name: photo-manager
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: photo-manager
        postgres-postgresql-client: "true"
    spec:
      containers:
        - name: photo-manager
          image: jeffutter/photo-manager@sha256:bd83b22bb0e7ae64dc7d41d818f3830ed19b925865b3997729c56be9530d6c11
          args: ["foreground"]
          resources:
            requests:
              cpu: "100m"
              memory: "180Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          ports:
            - name: http
              containerPort: 4000
          livenessProbe:
            httpGet:
              path: /
              port: 4000
            initialDelaySeconds: 20
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /
              port: 4000
            initialDelaySeconds: 20
            periodSeconds: 5
          env:
            - name: PORT
              value: "4000"
            - name: SOURCE_BUCKET
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: source_bucket
            - name: AWS_S3_BUCKET
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: aws_s3_bucket
            - name: ASSET_HOST
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: asset_host
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: aws_access_key_id
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: aws_secret_access_key
            - name: AWS_DEFAULT_REGION
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: aws_default_region
            - name: AWS_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: aws_endpoint
            - name: SECRET_KEY_BASE
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: secret_key_base
            - name: GUARDIAN_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: guardian_secret_key
            - name: GCP_CREDENTIALS
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: gcp_credentials
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: database_url
            - name: FACEBOOK_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: facebook_client_id
            - name: FACEBOOK_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: facebook_client_secret
            - name: GOOGLE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: google_client_id
            - name: GOOGLE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: google_client_secret
            - name: SENTRY_DSN
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: sentry_dsn
            - name: SENTRY_PUBLIC_DSN
              valueFrom:
                secretKeyRef:
                  name: photo-manager
                  key: sentry_public_dsn
